

<div class="text-center mx-auto" style="max-width: 30rem;">
  <h1 class="display-3 my-5"><a href="/">ticketQ</a></h1>
  <h3 class="lead my-5">Ticketing - simple, fast and free.</h3>
  <p class="my-4">ticketQ lets you sell tickets directly to your audience with no strings attached. You use your own
    payment gateway account (<a href="https://razorpay.com/" target="_blank">Razorpay</a>), set your own rates, and receive your money directly into your bank account.</p>
  <p class="my-4">ticketQ does not take a commission from you, nor will we take a commission from your audience. Our
    mission is to create a way for artists to take back control of the ticketing experience.</p>
  <p class="my-4">If you're wondering why we're doing this for free, we aren't. Our plan is offer other value added
    services for
    the shows that require it - but that requires a building on an solid foundation of clean, simple, zero-cost
    ticketing, which is what we're starting with.</p>
</div>

