<a class="media bg-light rounded text-dark my-3 d-flex justify-content-between align-items-center" href="<%= company_link_path company.slug %>">
  <img src="https://source.unsplash.com/featured/?logo" style="max-height: 40px;max-width: 120px;" class="d-inline-block align-top" alt="">
  <h6 class="mb-0"><%= company.name %></h6>
</a>

