<h1 class="display-5 my-4">The Kuku Company</h1>
<div class="row">
  <% 9.times do %>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card mb-4">
        <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Company</h3>
          <p class="lead">A Musical Comedy</p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Museum Theatre, Egmore</li>
          <li class="list-group-item">7th - 9th June</li>
        </ul>
        <div class="card-body">
          <a href="/kukucompany/company" class="btn btn-primary text-uppercase w-100">Book Tickets</a>
        </div>
      </div>
    </div>
  <% end %>
</div>