<h1 class="display-4 my-4">The Kuku Company</h1>
<div class="row">
  <% 3.times do %>
    <div class="col-sm-6">
      <div class="card mb-4">
        <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Company</h3>
          <p class="lead">A Musical Comedy</p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary text-uppercase w-100 mb-3">Fri / 7 June / 3:00 PM</a>
          <a href="#" class="btn btn-primary text-uppercase w-100">Sat / 8 June / 6:00 PM</a>
        </div>
      </div>
    </div>
  <% end %>
</div>