<%= render partial: "companies/navbar", locals: { company: @company } %>
<div class="row">
  <% @performance_groups.each do |key, performances| %>
    <%= render partial: "shows/card", locals: {performances: performances, show: key.show, venue: key.venue} %>
  <% end %>
</div>