$enable-responsive-font-sizes: true;
$enable-gradients: true;
@import "bootstrap";

body {
  font-variant-numeric: ordinal;
}

.btn {
  //font-variant-numeric: tabular-nums;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #eee;
  opacity: 0.9;
  @extend .my-3;
}

select {
  @extend .custom-select;
  @extend .text-center;
}

.media {
  @extend .bg-light;
  @extend .rounded;
  @extend .p-3;
}

h1, h4 {
  a {
    color: inherit;
  }

}

label.special {
  cursor: pointer;
  @extend .bg-light;
  @extend .shadow-sm;
  @extend .rounded;
  @extend .d-block;
  @extend .p-3;
  @extend .mb-0;
  @extend .border;
  @extend .text-dark;
  font-weight: 500;

}

input:checked + label.special {
  @extend .bg-primary;
  @extend .text-white;
  @extend .shadow;
  @extend .border-primary;
}

input.special[type="radio"] {
  display: none;
}