$enable-responsive-font-sizes: true;
$enable-gradients: true;
@import "bootstrap";

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #eee;
  opacity: 0.9;
  @extend .my-3;
}

select {
  @extend .custom-select;
  @extend .text-center;
}

.media {
  @extend .bg-light;
  @extend .rounded;
  @extend .p-3;
}

h1, h4 {
  a {
    color: inherit;
  }
}

a {
  h1, h2, h3, h4 {
    color: inherit;
  }
}

label.special {
  cursor: pointer;
  @extend .bg-gradient-light;
  @extend .shadow-sm;
  @extend .rounded;
  @extend .d-block;
  @extend .p-3;
  @extend .mb-0;
  @extend .border;
  @extend .border-primary;
  @extend .text-primary;
}

input:checked + label.special {
  @extend .bg-gradient-primary;
  @extend .text-white;
  @extend .shadow;
  @extend .border-primary;
  font-weight: bold;
}

input.special[type="radio"] {
  display: none;
}

form.payment {
  input[type="submit"] {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-lg;
    @extend .btn-block;
    @extend .text-uppercase;
    @extend .stretched-link;
  }
}

.media.payment {
  @extend .border;
  @extend .border-success;
}

.border-left.border-primary {
  border-left-width: 5px !important;
}