<div class="my-5">
  <h1 class="mb-1"><a href="<%= show_link_path show.company.slug, show.slug %>" class="text-dark"><%= show.name %></a>
  </h1>
  <p class="lead mb-2"><%= show.tagline %></p>
  <% if local_assigns[:nav] %>
<!--    <ul class="nav justify-content-end">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link active" href="#tickets">Tickets &darr;</a>-->
<!--      </li>-->
<!--    </ul>-->
  <% end %>
</div>