<h4 class="text-right text-muted my-4">The Kuku Company</h4>
<h1>Company</h1>
<h5>A Musical Comedy</h5>
<hr/>
<div class="row my-3">
  <div class="col-12 col-md-6 mb-3 mb-md-0">
    <%= render partial: "media/datetime", locals: { datetime: @showtime } %>
  </div>
  <div class="col-12 col-md-6">
    <%= render partial: "media/venue" %>
  </div>
</div>

<div class="row my-3">
  <div class="col-12 col-md-6 mb-3">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <label class="input-group-text" for="tickettype">Ticket Type:</label>
      </div>
      <select id="tickettype" aria-label="Ticket type selection">
        <option selected value="300">Silver ₹300</option>
        <option value="500">Gold ₹500</option>
      </select>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-3">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <label class="input-group-text" for="ticketcount">Ticket Count:</label>
      </div>
      <select id="ticketcount" aria-label="Ticket count selection">
        <% (1..10).map do |t| %>
          <option value="<%= t %>"><%= t %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="col-12 mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="name">Name:</label>
      </div>
      <input type="text" class="form-control text-center" id="name"/>
    </div>
  </div>
  <div class="col-12 mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="email">Email Address:</label>
      </div>
      <input type="email" class="form-control text-center" id="email"/>
    </div>
  </div>
  <div class="col-12">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="mobile">Mobile Number:</label>
      </div>
      <input type="tel" class="form-control text-center" maxlength="10" required id="mobile"/>
    </div>
  </div>
</div>
<div class="row my-3">
  <div class="col-12">
    <a class="btn btn-success btn-lg w-100 text-uppercase" href="https://rzp.io/i/LNeeYD2">Book Tickets</a>
  </div>
</div>
<p class="text-center text-muted">
  <small>Your ticket will be sent to the email address and mobile number that you provide.
  </small>
</p>


